<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">
    <testsuites>
        <testsuite name="Monsoon Test Suite">
            <directory suffix="Test.php">src/App/Tests</directory>
            <directory suffix="Test.php">src/Api/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
