Options -Indexes +FollowSymLinks

<IfModule mod_rewrite.c>

	RewriteEngine On
	RewriteBase /

	# Force to exclude the trailing slash
	RewriteCond %{REQUEST_URI} (.*)/$
	RewriteRule ^(.+)/$ $1 [R=307,L]

	# Restrict php files direct access
	RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
	RewriteRule \.php$ - [F]

	# Forward authorization info
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

    #RewriteRule ^src/?$ - [F,L]
    #RewriteRule ^data/?$ - [F,L]

	RewriteRule ^(.*)$ index.php?$1 [QSA,L]

</IfModule>

<Location "src">
    Order Allow,Deny
    Deny from all
</Location>

<Location "data">
    Order Allow,Deny
    Deny from all
</Location>